nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
  margin-left: 160px;
  margin-right: 160px;

  >img {
    width: 64px;
    height: 64px;
  }

  >div {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 24px;

    >a {
      &:hover {
        color: #9f0908;
      }
    }
  }

  .phone_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #9f0908;
    border: solid 2px white;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #ce0d0d;
    }

    >img {
      width: 22px;
      height: 22px;
    }
  }
}