<main>
  <h2>FIND US AT</h2>
  <div class="address"><img class="image-marker" src="./assets/icons/map_marker.png" /><span>Kapuzinerstraße 31, Münschen, 80337</span><br /></div>
  <iframe
    id="location"
    class="map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470.79256138388837!2d11.56082322018192!3d48.12557178460961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddf005672188d%3A0x3887f00928415e45!2sSakura%20Ramen!5e0!3m2!1sde!2sde!4v1728720735598!5m2!1sde!2sde"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</main>