<footer class="footer">
  <div>
    <img class="left-image" src="./assets/img/sakura_ramen_logo_and_text.png" />
  </div>
  <div>
    <a href="https://www.tripadvisor.de/" target="_blank"><img class="right-image" src="./assets/icons/tripadvisor_logo.png" /></a>
    <a href="https://www.facebook.com/?locale=de_DE" target="_blank"><img class="right-image" src="./assets/icons/facebook_logo.png" /></a>
    <a href="https://www.instagram.com/" target="_blank"><img class="right-image" src="./assets/icons/instagrram_logo.png" /></a>
  </div>
</footer>