@import './../../../../styles.scss';

.footer {
  background-color: black;
  border-top: 10px solid white;
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px 0 160px;

  .left-image {
    height: 44px;
  }

  a {
    color: map-get($link-decoration, color);
    text-decoration: map-get($link-decoration, text-decoration);
  } 
}