<main class="menu-container">
  <h2 id="menu" class="menu-title">OUR MENU</h2>
  <div class="menu-item">
    <img src="./assets/img/R1.png" class="menu-image" />
    <div class="menu-details">
      <h3>Tonkotsu Ramen</h3>
      <table class="name-price">
        <tbody>
          <tr>
            <td class="table-position">CHICKEN</td>
            <td>11.95€</td>
          </tr>
          <tr>
            <td class="table-position2">BEEF</td>
            <td>12.95€</td>
          </tr>
          <tr>
            <td>SHRIMP</td>
            <td>13.95€</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="menu-item-middle">
    <div class="menu-details">
      <h3>Spicy Miso Ramen</h3>
      <table class="name-price">
        <tbody>
          <tr>
            <td class="table-position">CHICKEN</td>
            <td>11.95€</td>
          </tr>
          <tr>
            <td class="table-position2">BEEF</td>
            <td>12.95€</td>
          </tr>
          <tr>
            <td>SHRIMP</td>
            <td>13.95€</td>
          </tr>
        </tbody>
      </table>
    </div>
    <img src="./assets/img/R2.png" class="menu-image" />
  </div>
  <div class="menu-item">
    <img src="./assets/img/R3.png" class="menu-image" />
    <div class="menu-details">
      <h3>Shio Ramen</h3>
      <table class="name-price">
        <tbody>
          <tr>
            <td class="table-position">CHICKEN</td>
            <td>11.95€</td>
          </tr>
          <tr>
            <td class="table-position2">BEEF</td>
            <td>12.95€</td>
          </tr>
          <tr>
            <td>SHRIMP</td>
            <td>13.95€</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>