<main class="order-container">
  <h2 class="second-headline">HOW TO ORDER</h2>
  <div class="order-section">
    <div class="noodle">
      <img class="icon" src="./assets/img/noodle.png" />
      <h3>Pick your<br />
        noodle</h3>
    </div>
    <div class="broth">
      <img class="icon" src="./assets/img/broth.png" />
      <h3>Pick your<br />
        broth</h3>
    </div>
    <div class="toppings">
      <img class="icon" src="./assets/img/egg.png" />
      <h3>Add your<br />
        toppings</h3>
    </div>
  </div>
</main>